VITE_SUPABASE_URL=https://ctwrvkallyvvfafijyjr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN0d3J2a2FsbHl2dmZhZmlqeWpyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU0NDYzMzQsImV4cCI6MjA3MTAyMjMzNH0.LraD5gVCfu8ltoOMOZzV06wOXJE8DJ9VH5qpPzqLnIQ
